::-moz-selection {
 background-color: #c60086;
 color: #fff;
}

.position {  
  bottom: -22px;
  position: relative;
}

/* Works in Safari */
::selection {
	background-color: #c60086;
	color: #fff;
}
body {
    background-color: #000;
    overflow-x: hidden;
}
.container {
	/*border: red solid 1px;*/
	margin: 0 auto;
	padding: 35px;
	margin-top: 40px;
}

@media (min-width: 768px) { /*Should be 992px*/
.container {
	width: 870px;
}
}

@media (min-width: 992px) { /*Should be 1200px*/
.container {
	width: 900px;
}
}

@media (min-width: 1600px) {
.container {
	width: 1570px;
}
}
.red {
	color: red;
}
.form-area {
	background-color: #000;
	margin: 10px 0px 60px;
	border: 1px solid black;
}
.form-control {
	border-radius: 0px;
	height: 55px;
	font-size: 17px;
	letter-spacing: 1px;
}
.form-button {
	background-color: #c60086;
	border-radius: 0px;
	border-color: #000;
	height: 58px;
	width: 49%;
	font-size: 12px;
	letter-spacing: 1px;
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
.not-attending {
	background-color: #716D6D;
}
.not-attending:hover {
	background-color: #2a3b8e;
	-webkit-transition: background 0.4s ease-in-out;
	-moz-transition: background 0.4s ease-in-out;
	-o-transition: background 0.4s ease-in-out;
	transition: background 0.4s ease-in-out;
}
.form-button:hover {
	background-color: #66338f;
}
.nmt {
	margin: 0px;
}
.full-width {
	width: 100%;
}
.clear-it {
	clear: both
}
a {
	color: white;
}
a:hover {
	color: #c60086;
	text-decoration: none;
	border-color: none;
}

